<!--The content below is only a placeholder and can be replaced.-->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>



<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div class="ui top attached tabular menu">
    <a class="active item"  routerLink="/user" routerLinkActive="active">
      Users
    </a>
    <a class="item"  routerLink="/repository" routerLinkActive="active">
      Repositories
    </a>
 
  </div>
 
<router-outlet></router-outlet>
</div>
<body>

   <!-- <div  *ngIf="user"> -->
    <!-- <div  *ngIf="user.name !== 'User not found'">
      <div  id="user-details" *ngIf="user.name.length > 0">  -->
        <!-- <button class="btn btn-success" (click)="toggleProfile()">My Profile</button> -->
<!--        
        <div id="profile" class="row">
          <img class="ml-0 col-5" src={{user.avatar}} >
          <div class="col-5 text-left">
            <p class="repo">Name: <span appBold>{{user.name}}</span></p>
            <p class="repo">Followers: {{user.followers}}</p>
            <p class="repo">Following: {{user.following}}</p>
            <p class="repo">Repos: {{user.repos}}</p>
            <p class="repo">Bio: {{user.bio}}</p> -->
            <!-- </div>
            </div> -->
            <!-- </div> -->
            <!-- </div>
            </div>
       -->
</body>
  

